.header
	.header__wrapper
		.header__logo
			img(src="./static/images/logo.png")
		.header__menu
			.header__menu-item
				a(href="#") Решения
			.header__menu-item
				a(href="#") Отрасли
			.header__menu-item
				a(href="#") Поддержка
			.header__menu-item
				a(href="#") О Компании
			.header__menu-item
				a(href="#") Контакты
		.header__contacts
			.header__phone
				img(src="./static/images/phone.png")
			.header__number
				a(href="tel:+78007654321") +7 (800) 765 43 21
			.header__search
				img(src="./static/images/search.png")
			.header__language En

		