.main
	.main__wrapper
		.main__video-ph
			video(src="./static/images/video.mp4" autoplay, loop)
			.main__video-slide-block
			.main__video-title
				.main__banner-string Super. Puper.
				.main__banner-string Premium Technologies
			.main__video-banner
				.main__banner-string Используйте лучшее,
				.main__banner-string что может предложить
				.main__banner-string платежная индустрия
				.main__banner-subtitle ABC — надежный партнёр в сфере платежей <br> и обработки карточных данных.
				.main__banner-button Начать работу &rarr;
			.dark-screen
			.popup
				.popup__wrapper
					.popup__title Оставьте свои данные <br> и мы свяжемся с Вами
					.popup__input
						input(type="text" name="name" placeholder="Ваше Имя")
					.popup__input
						input(type="email" name="email" placeholder="Ваш E-mail")
					.popup__input
						input(type="phone" name="phone" placeholder="Ваш телефон")
					.popup__button Отправить
					.popup__close
.directions
	.directions__wrapper
		.directions__title Решения по отраслям
		.directions__buttons
			.directions__btn._active(data-filter="all") Все
				.directions__btn-line._top
				.directions__btn-line._bot
			.directions__btn(data-filter="banks") Банки
				.directions__btn-line._top
				.directions__btn-line._bot
			.directions__btn(data-filter="credits") Кредитные организации
				.directions__btn-line._top
				.directions__btn-line._bot
			.directions__btn(data-filter="retail") Интернет-ритейл
				.directions__btn-line._top
				.directions__btn-line._bot
			.directions__btn(data-filter="ft-company") Финтех-компании
				.directions__btn-line._top
				.directions__btn-line._bot
		.directions__sort-container
			.directions__item(data-groups='["retail"]')
				.directions__item-title Решение Номер 1
				.directions__item-subtitle
					|Принимайте платежи по банковским картам и с помощью альтернативных..
				.directions__arrow
					<?xml version="1.0" ?><svg id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>
			.directions__item(data-groups='["credits"]')
				.directions__item-title Самое прекрасное решение
				.directions__item-subtitle
					|Выдавайте кредиты на сайте или в мобильном приложении под...
				.directions__arrow
					<?xml version="1.0" ?><svg id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>
			.directions__item(data-groups='["retail"]')
				.directions__item-title Решение 3
				.directions__item-subtitle
					|Контролируйте и управляйте всеми платежными системами и банками из одного окна...
				.directions__arrow
					<?xml version="1.0" ?><svg id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>
			.directions__item(data-groups='["retail","ft-company"]')
				.directions__item-title Решение к отпуску
				.directions__item-subtitle
					|Начните принимать разовые или регулярные платежи с европейских счетов клиентов через...
				.directions__arrow
					<?xml version="1.0" ?><svg id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>
			.directions__item(data-groups='["banks","retail","ft-company"]')
				.directions__item-title Решение 4
				.directions__item-subtitle
					|Принимайте платежи по банковским картам с помощью mPOS и POS терминалов в оффлайновых точкаx...
				.directions__arrow
					<?xml version="1.0" ?><svg id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>
			.directions__item(data-groups='["credits","ft-company"]')
				.directions__item-title Лучшее решение
				.directions__item-subtitle
					|Запустите свою систему расчётов с использованием электронных кошельков.
				.directions__arrow
					<?xml version="1.0" ?><svg id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>
			.directions__item(data-groups='["banks","credits"]')
				.directions__item-title Решение 5
				.directions__item-subtitle
					|Запустите сервис денежных переводов под собственным брендом. Решение работает через...
				.directions__arrow
					<?xml version="1.0" ?><svg id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>
			.directions__item(data-groups='["banks","ft-company"]')
				.directions__item-title Наше решение
				.directions__item-subtitle
					|Организуйте сервис моментальных безопасных денежных переводов наличными на карты любыx..
				.directions__arrow
					<?xml version="1.0" ?><svg id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>
			.directions__item(data-groups='["banks"]')
				.directions__item-title Решение 5
				.directions__item-subtitle
					|Организуйте сервис моментальных безопасных денежных переводов наличными
				.directions__arrow
					<?xml version="1.0" ?><svg id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>
			.directions__item(data-groups='["retail"]')
				.directions__item-title Мобильное решение
				.directions__item-subtitle
					|Организуйте сервис моментальных безопасных денежных переводов наличными
				.directions__arrow
					<?xml version="1.0" ?><svg id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>
.about
	.about__wrapper
		.about__rectangle-bg
		.about__title Технологическое приемущество и гибкость - <br> основа для роста бизнеса
		.about__items-container
			.about__item
				.about__item-bgc
					img(src="./static/images/yellow-rectangle.png" width="129" height="129")
					.about__item-img._yellow
						img(src="./static/images/yellow-rectangle-item.png" width="63" height="70")
				.about__item-title Быстрый старт
					span и кастомизация
				.about__item-subtitle
					|Быстрый вывод решения на рынок под вашим собственным брендом.
			.about__item
				.about__item-bgc
					img(src="./static/images/green-circle.png" width="119" height="119")
					.about__item-img._green
						img(src="./static/images/green-circle-item.png" width="90" height="74")
				.about__item-title Готовые
					span интеграции
				.about__item-subtitle
					|В нашей системе доступно 300 интеграций с платежными системами, банками и CMS по всему миру.
			.about__item
				.about__item-bgc
					img(src="./static/images/pink-rectangle.png" width="122" height="122")
					.about__item-img._pink
						img(src="./static/images/pink-rectangle-item.png" width="53" height="70")
				.about__item-title Актуальные
					span технологии
				.about__item-subtitle
					|Apple pay, Google pay,AFT, рекуррентные платежи,  e-commerce, POS и mPOS, Master Card Money Send, Visa Direct и другие.
			.about__item
				.about__item-bgc
					img(src="./static/images/blue-triangle.png" width="123" height="123")
					.about__item-img._blue
						img(src="./static/images/blue-triangle-item.png" width="70" height="65")
				.about__item-title Профессиональная
					span поддрежка
				.about__item-subtitle
					|Профессиональная техподдержка и сопровождение клиента во время интеграции и после запуска.
		.how
			.how__wrapper
				.how__textholder
					.how__title Как это работает
					ol.how__list
						.how__line
						li Вы звоните заёмщику и договариваетесь о размере платежа по займу.
						li Заёмщик переводит телефон в тоновый режим и вводит номер банковской карты.
						li С карты списываются деньги в счет погашения кредиты.
						li Чек по операции автоматически отправляется по электронной почте и по СМС.
						.how__info Сервис предоставляется в рамках <br>
							span онлайн-кредитования
				.how__bgc-image
						img(src="./static/images/phone-bg.png" width="720" height="580")
.footer
	.dark-screen
	.popup
		.popup__wrapper
			.popup__title Оставьте свои данные <br> и мы свяжемся с Вами
			.popup__input
				input(type="text" name="name" placeholder="Ваше Имя")
			.popup__input
				input(type="email" name="email" placeholder="Ваш E-mail")
			.popup__input
				input(type="phone" name="phone" placeholder="Ваш телефон")
			.popup__button Отправить
			.popup__close
	.footer__tile
	.footer__textholder
		.footer__img
			img(src="./static/images/pink-rectangle-footer.png" width="400")
		.footer__title Свяжитесь с нами, <br>
			span чтобы запустить эффективное<br> платежное решение
		.footer__subtitle Более 1,5 тысяч клиентов уже доверили <br> свои проекты 
			span ABC Abvgd.
		.footer__button Начать работу
			<?xml version="1.0" ?><svg id="right-arrow-foward-sign" style="enable-background:new 0 0 15.698 8.706;" version="1.1" viewBox="0 0 15.698 8.706" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/></svg>


